<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/moment@2.20.1/moment.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/numeral@2.0.6/numeral.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
		<script src="config.js"></script>
	</head>
	<body>
		<div id="app" class="container-fluid">
			<div class="row">
				<div class="col text-center">
					<h1 class="h5">{{ entity.sumDonations | formatMoney }} / {{ entity.fundraisingGoal | formatMoney }}</h1>
					<div class="progress">
						<div class="progress-bar" role="progressbar" v-bind:style="{ width: ((entity.sumDonations / entity.fundraisingGoal) * 100) + '%' }"></div>
					</div>
				</div>
			</div>
			<div class="clear">&nbsp;</div>
			<div class="row">
				<div class="col">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Date</th>
								<th scope="col">$</th>
								<th scope="col">Name</th>
								<th scope="col">Message</th>
								<th scope="col">Incentive</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="donation in donations" v-bind:key="donation.donationID" v-bind:class="{ 'table-primary': donation.amount >= highlightThreshold }">
								<td class="text-nowrap">{{ donation.createdDateUTC | formatDate }}<span v-if="new Date().getTime() - new Date(donation.createdDateUTC).getTime() < highlightDuration">&nbsp;<span class="badge badge-primary"> New </span></span></td>
								<td class="text-nowrap"><span v-if="donation.amount">{{ donation.amount | formatMoney }}</span><span v-else><i>Amount hidden</i></span></td>
								<td class="text-nowrap"><span v-if="donation.displayName">{{ donation.displayName }}</span><span v-else>Anonymous</span></td>
								<td>{{ donation.message }}</td>
								<td v-if="showIncentives">{{ matchIncentive(donation.incentiveID) }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
	<script>
		Vue.filter(
			'formatDate',
			(value) => {
				return moment(value).format('MM/DD/YYYY hh:mm');
			}
		);

		Vue.filter(
			'formatMoney',
			(value) => {
				return numeral(value).format('$0,0.00');
			}
		);

		var v = new Vue({
			data: {
				donations: [],
				entity: {
					etag: ''
				},
				highlightDuration: ( window.config.donationTicker.highlightDuration * 1000 ),
				highlightThreshold: window.config.donationTicker.highlightThreshold,
				showIncentives: window.config.donationTicker.showIncentives,
			},
			el: '#app',
			methods: {
				refreshDonations() {
					// on initial load, grab the newest records
					var criteria = 'orderBy=' + encodeURIComponent('createdDateUTC DESC') + '&limit=' + window.config.donationTicker.listLimit.toString(),
						lastDonation;

					// on subsequent intervals, only pull new records
					if(this.entity.lastDonation) {
						lastDonation = new Date(this.entity.lastDonation);
						criteria = 'where=' + encodeURIComponent('createdDateUTC > ' + lastDonation.toISOString()) + '&orderBy=' + encodeURIComponent('createdDateUTC ASC');
					}

					axios.get(window.config.api + window.config.resource + '/' + window.config.resourceID + '/donations' + ( window.config.api.indexOf('?') >= 0 ? '&' : '?' ) + criteria)
						.then((response) => {
							response.data.forEach((dx) => {
								var createdDate = new Date(dx.createdDateUTC);

								if(lastDonation) {
									if(createdDate > lastDonation) {
										this.donations.unshift(dx);
									}
								} else {
									this.donations.push(dx);
								}

								if(this.donations.length > window.config.donationTicker.listLimit) {
									this.donations.length = window.config.donationTicker.listLimit;
								}

								this.entity.lastDonation = createdDate;
							});
						});
				},
				refreshEntity() {
					axios.get(window.config.api + window.config.resource + '/' + window.config.resourceID, { headers: { 'if-none-match': this.entity.etag } })
						.then((response) => {
							// success
							var e = Object.assign({}, this.entity, response.data);
							e.etag = response.headers.etag;

							this.entity = e;

							v.refreshDonations();
						})
						.catch((error) => {});
				},
				matchIncentive(incentiveID) {
					let incentive = this.incentives.find(i => i.incentiveID == incentiveID);
					return incentive != null ? incentive.description : ""
				},
				cacheIncentives() {
					axios.get(api + resource + '/' + resourceID + '/incentives')
						.then((response) => {
							this.incentives = response.data;
						})
				}
			}
		});

		setInterval(
			() => {
				v.refreshEntity();
			},
			15000
		);
		
		if (this.showIncentives) {
			v.cacheIncentives();
		}
		v.refreshEntity();
	</script>
</html>
