<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/numeral@2.0.6/numeral.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<link rel="stylesheet" href="resources/css/streaming-overlay.css"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
		<script src="config.js"></script>
	</head>
	<body>
		<div id="app" class="py-3 shadow text-light position-relative overflow-hidden rounded" style="width: 600px;" v-bind:class="backgroundColor">
			<section class="container-fluid">
				<div class="row align-items-center">
					<div class="col-3">
						<img src="resources/images/EL-Logo.png" class="img-fluid" style="max-height: 60px;" alt="Logo" />
					</div>
					<div class="col-9 js-progress">
						<div class="marquee">
							<ul>
								<li v-for="donation in marqueeDonations" v-bind:key="donation.donationID">
										{{donation.amount}} <span v-if="donation.displayName">{{ donation.displayName }}</span><span v-else>Anonymous</span></h2>
									</li>
							</ul>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-grow bg-blue" role="progressbar" v-bind:style="{ width: ((entity.sumDonations / entity.fundraisingGoal) * 100) + '%' }">
								{{ entity.sumDonations | formatMoney }} / {{ entity.fundraisingGoal | formatMoney }}
							</div>
						</div>
					</div>
				</div>
			</section>
			<transition name="slide">
				<section v-if="donation" class="row no-gutters align-items-center bg-grad-blue position-absolute pos-t-0 h-100 w-100 slide-start-right slide-left">
					<div class="col px-3 py-2">
						<h1 class="h2 d-block w-100"><span v-if="donation.amount">{{ donation.amount | formatMoney }}</span></h1>
						<h2 class="h6 d-block w-100"><span v-if="donation.displayName">{{ donation.displayName }}</span><span v-else>Anonymous</span></h2>
					</div>
				</section>
			</transition>
		</div>
	</body>
	<script>
		Vue.filter(
			'formatMoney',
			(value) => {
				return numeral(value).format('$0,0.00');
			}
		);

		var v = new Vue({
			data: {
				count: 0,
				donation: null,
				donations: [],
				marqueeDonations: '',
				entity: {
					etag: '',
					lastDonation: new Date().toISOString()
				},
				backgroundColor: window.config.streamingThermometer.transparentBackground ? "transparent" : "bg-grad-grey"
			},
			el: '#app',
			methods: {
				refreshRecentDonations() {
					var ld = new Date(this.entity.lastDonation);
					axios.get(window.config.api + window.config.resource + '/' + window.config.resourceID + '/donations' + ( window.config.api.indexOf('?') >= 0 ? '&' : '?' ) + 'where=' + encodeURIComponent('createdDateUTC > ' + ld.toISOString()) + '&orderBy=' + encodeURIComponent('createdDateUTC ASC'))
						.then((response) => {
							response.data.forEach((dx) => {
								var createdDate = new Date(dx.createdDateUTC);

								if(createdDate > ld) {
									this.donations.push(dx);
									this.entity.lastDonation = dx.createdDateUTC;
								}
							});
						});
				},
				refreshEntity() {
					axios.get(window.config.api + window.config.resource + '/' + window.config.resourceID, { headers: { 'if-none-match': this.entity.etag } })
						.then((response) => {
							// success
							console.log(response);
							var e = Object.assign({}, this.entity, response.data);
							e.etag = response.headers.etag;

							this.entity = e;

							if(window.config.streamingThermometer.showDonations) {
								this.refreshRecentDonations();
							}
						})
						.catch((error) => {});
				},
				refreshDonations() {
					axios(window.config.api + window.config.resource + '/' + window.config.resourceID + '/donations?limit=25&orderBy=' + encodeURIComponent('createdDateUTC DESC'))
						.then((response) => {
							this.marqueeDonations = response.data;
						});
				}

			}
		});

		setInterval(
			() => {
				v.refreshEntity();
			},
			15000
		);

		if(window.config.streamingThermometer.showDonations) {
			setInterval(
				() => {
					if(v.donations.length) {
						v.donation = v.donations.shift();
						setTimeout(
							() => { v.donation = null; },
							5000
						);
					}
				},
				7000
			);
		}

		if(window.config.streamingThermometer.scrollDonations) {
			v.refreshDonations();
			setInterval(() => {
				v.refreshDonations();
			}, 7000);
		}
		v.refreshEntity();
	</script>
</html>