:root {
	--blue:  #4074c2;
	--dark-blue:  #1a4c6d;
	--green: #7fd836;
	--light-blue:  #26c2eb;
}

@font-face{
  font-family: 'Furore-webfont';
  src: url('../fonts/Furore-webfont.eot');
  src: url('../fonts/Furore-webfont.eot?iefix') format('eot'),
       url('../fonts/Furore-webfont.woff') format('woff'),
       url('../fonts/Furore-webfont.ttf') format('truetype'),
       url('../fonts/Furore-webfont.svg#webfont') format('svg');
       unicode-range: U+0000-009F, U+00A1-00FF;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: Furore-webfont;
}

@keyframes slide-left {
	0% {
		transform: translateX(100%);
	}
	10% {
		transform: translateX(0px);
	}
	90% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(100%);
	}
}

.compact {
	width:600px;
}

.full-size {
	width: 100%;
}

.no-animation{
	animation: none;
}

.slide-start-right{
	transform: translateX(100%);
}

.slide-left{
	animation-name: slide-left;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

.pos-t-0{
	top: 0;
}

.bg-grad-grey{
	background-image: linear-gradient(#454545, #2e2e2e);
}

.bg-grad-blue{
	background-image: linear-gradient(#0096db, #0073a8);
}

.shadow{
	box-shadow: 0px 0px 8px 0px rgba(24, 58, 66, 0.3);
}

.progress-bar.progress-bar-grow{
	width: 0;
}

.progress-bar.bg-blue{
	background-color: var(--blue);
}

/* use to revert back transformation of progress, might be a better way to accomplish this */
.progress-bar {
	-webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skew(15deg,0deg);
	transform: skew(15deg,0deg);
	font-size:1.2em;
}

.progress {
	-webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skew(-15deg,0deg);
	transform: skew(-15deg,0deg);
	height: 2rem !important;
}

.transparent {
	background-color: transparent;
}

.marquee {
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
}

.marquee ul { 
	display: inline-block;
	padding-left: 100%;
	will-change: transform;
	animation: marquee 60s linear infinite;
	color: black;
	margin-bottom: 0;
 }

.marquee ul li { 
	display: inline-block;
} 

.marquee ul li:after {
    content: "\2022";
    padding: 0 10px;
}

.marquee li {
	font-weight: 600;
	color: var(--green);
}

.marquee span {
	color: var(--light-blue);
}
  
@keyframes marquee {
	0% { transform: translate(0, 0); }
	100% { transform: translate(-100%, 0); }
}